<!DOCTYPE html>
<html>
<head>
	    <meta charset="UTF-8">
	    <title>CFD Login Page </title>
<link rel="stylesheet" href="css/stylefaq.css">
</head>

<body>
    <div class="wrapper" >
    	<p style='font-size:40px;'>
    	Frequently Asked Questions: Alpha
    </p>
	<div class="container" >

<p style='font-size:40px'>

</p>
<div style='font-size:20px;'>
<h2>How do I add a new client?<br></h2>
The only way to add a new client is to contact Cadreon Finance directly. Because we have to integrate each client with all our financial data within the Cadreon Finance Database, it’s a task that’s best left to our engineers. Turnaround time should be under 24 hours.
<br><br><h2>Can multiple people work on this at once?<br></h2>
Yes, the Budget Submission webpage is broken up by media types just for this reason. A person can work on Display RTB, while someone else works on TV; and they won’t interfere with each other as long as they only checked the box next to the media type that they are working on.
<br><br><h2>Will this override previous submissions?<br></h2>
Yes, whenever you click submit at the bottom of a page, all your previous data is overwritten, just as if you saved your Excel file. 
I made a mistake and submitted the wrong numbers, what do I do?<br></h2>
Go back and change the numbers for each media type and resubmit it, your new submission will overwrite your previous submissions.
<br><br><h2>How do I see what I’ve submitted?<br></h2>
After you submit your figures, they should show up immediately when the page refreshes. This will also show up immediately for anyone accessing the webpage for the same client.
<br><br><h2>I entered all the numbers and clicked submit, but nothing was recorded?<br></h2>
1.	The most common issue was that people didn’t check the box next to the media type they were working on. The webpage is designed so multiple people can work on different media types at once. So if you did not check the box next to your media type, it was most likely omitted on purpose. 
<br>2.	Was there someone else who was working on the client at the same time? They might checked the media type that you were working and overwritten your data.
<br>3.	Maybe there is something wrong, send an email to yong.cai@mbww.com or Jason.zeng@mbww.com 
<br><br><h2>What are the comment boxes?<br></h2>
You can leave comments that will show up when anyone reopens the same client page. You have to check their corresponding checkbox to record your comments.
<br><br><h2>When first logging in, which client appears?<br></h2>
It was always be a blank page when you first login, for security purposes.
<br><br><h2>What’s the different between refreshing and submitting? <br></h2>
When you refresh you discard all the data on the page, and load whatever page is stored on the server. You can refresh to immediately go to the page that your coworker is working on. Only refresh, if you want to restart from scratch since you made an error or something. If you press submit, data is sent to the database. 
<br><br><h2>What if I have clients on both the East Coast server and the West Coast server, such as a manager for programmatic TV?<br></h2>
You will get access to the all the servers that you need to do your job, just send as an email. Remember the above; only check the box next to the media types you are working on.
<br><br><h2>This is too confusing, why are we switching away from the Excel version?<br></h2>
The budget submission page is a central source of data that is uniform for everyone accessing it. This allows us to reconcile finances more accurately and efficiently. In addition, the moment any change is made, it will affect everyone that accesses the webpage. This is a tool designed to reduce redundant data entering and save everyone time.
<br><br><h2>I tried everything and it still won’t work properly.<br></h2> 
Send an email to yong.cai@mbww.com or Jason.zeng@mbww.com 
</div>

</div>
</div>



<script src='js/jquery.min.js'></script>
<script src="js/numeral.min.js"></script>
<script src="js/autoNumeric.js"></script>


</body>
</html>