<!DOCTYPE html>
<html>
<head>
	    <meta charset="UTF-8">
	    <title>Login Page </title>
<link rel="stylesheet" href="css/stylelogin.css">
</head>

<body>
    <div class="wrapper" style='height:1200px'>
	<div class="container;width:1500px" >

		<center>
<form autocomplete="off" class='form' action="/login"  method="post">
	<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h3>Login</h3>

<br>
<br>


	<label>Username</label>
	<input type="text" autocomplete="off" name="username">
<br>

	<label>Password</label>
	<input type="password" autocomplete="off" name="password">

<br>
<br>

	<input type="submit" value="Submit">

</form>
</center>
</div>
</div>



<script src='js/jquery.min.js'></script>
<script src="js/numeral.min.js"></script>
<script src="js/autoNumeric.js"></script>



</body>
</html>
