/*Font is taken from google*/

/*@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);*/

/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(Font/googlefont.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 23px;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  /* opacity: 1; */
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  /* opacity: 1; */
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {
    background: #cc615c ;
  background: -webkit-linear-gradient(top left, #961f92 0%, #F9992E 100%);
  background: linear-gradient(to bottom right, #961f92 -10%, #F9992E 100%);



  height: 2600px;
  width: 5500;
  min-width: 1600px;
    min-height: 1600px;
    margin-top: 0px;
 overflow: visible; 
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
      -ms-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
   max-width: 1500px; 
  min-width:1500px;
  margin: 500 auto;
  padding: 0px auto;

  text-align: center;
}
.container h1 {
  font-size: 30px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}

h3 {

font-size: 50px;

}

form {
  padding: 20px 0;
  position: center;
  text-align: center;
  z-index: 2;
}



form input[type=email] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  height: 50px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 23px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input[type=email]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input[type=email]:focus {
  background-color: white;
  width: 300px;
  color: #F9992E;
}

  form input[type=text] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 300px;
  height: 50px;
  border-radius: 3px;
  padding: 1px 1px;
  margin: 0 auto 5px auto;
  display: block;
  text-align: center;
  font-size: 22px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;

}
form input[type=text]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form input[type=text]:focus {
  background-color: white;
  width: 320px;
  color: #F9992E;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #F9992E;
}




  form input[type=password] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 300px;
  height: 50px;
  border-radius: 3px;
  padding: 1px 1px;
  margin: 0 auto 5px auto;
  display: block;
  text-align: center;
  font-size: 22px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;

}
form input[type=password]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form input[type=password]:focus {
  background-color: white;
  width: 320px;
  color: #F9992E;

}





textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 500px;
  height: 50px;
  border-radius: 3px;
  padding: 5px 5px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 15px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
textarea:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
textarea:focus {
  background-color: white;
  width: 550px;
  color: #F9992E;
}

form input[type=date] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  height: 50px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 23px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input[type=date]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input[type=date]:focus {
  background-color: white;
  width: 300px;
  color: #F9992E;
}



form input[type=month] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 200px;
  height: 50px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input[type=month]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input[type=month]:focus {
  background-color: white;
  width: 300px;
  color: #F9992E;
}

  form input[type=number] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 100px;
  height: 20px;
  border-radius: 3px;
  padding: 1px 1px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 12px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input[type=number]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

form input[type=number]:focus {
  background-color: white;
  width: 100px;
  color: #F9992E;

}


form input[type=checkbox] {

  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 20px;
  height: 20px;
  border-radius: 3px;
  padding:5px 5px;
  margin: 0 auto 0px auto;
  display: block;
  text-align: center;
  font-size: 23px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input[type=checkbox]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input[type=checkbox]:focus {
  background-color: white;
  width: 20px;
  color: #F9992E;

}


  form input[type=submit] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 200px;
  height: 50px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 23px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input[type=submit]:focus {
  background-color: white;
  width: 300px;
  color: #F9992E;

}
form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 160px;
  height: 30px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 15px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
  text-align: center;

}
form select:hover {
  background-color: rgba(255, 255, 255, 0.4);
  color: #F9992E;
  text-align: center;

}
form select:focus {
  background-color: white;
  width: 160px;
  color: #F9992E;
  text-align: center;


}


form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  width: 250px;
  height: 50px;
  border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 23px;
  color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  font-weight: 300;
}
form button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form button:focus {
  background-color: white;
  width: 300px;
  color: #F9992E;